@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Open+Sans+Condensed:wght@300&display=swap');



/* Navbar */
#fist-img {
    background: url("../Images/Wagyu.jpg") no-repeat center center;
    height: 500px;
    width: 100%;
    animation-name: hero-zoom;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   position: relative;
}

.text-right {
    margin-left: 70%;
}
.font {
   font-family: "Josefin sans" , sans-serif;
   letter-spacing: 2px; 
   float: right;
}
.nav-item {
    margin: 2px;
}

.navbar-brand {
margin-left: 10px;
}

/* Slide */

.carousel-control-prev-icon {
    background-image: none;
}
.slider-countainer {
    max-height: 5rem;
}
#slide {
    display: inline;
    margin: 30px;
    height: 300px;
    margin-left: 80px;
    height: 300px;
    justify-content: space-around;
    position: relative;
    
}


.carousel-inner-2 {
    margin-left: 0px;
}
.carousel-inner-3 {
    margin-left: 40px;
    height: inherit;
}
.row-1 {
    margin-top: 5px;
}
.rounded-circle {
    align-items: center;
    
}
/* Wine */
.second-img {
    background: url("/assets/Images/cantina.jpg");
    
    
}

.menu {
    padding: 50px 0 20px 150px;
}
.w-heading {
    margin-left: 50px;
}

/* container */


@keyframes hero-zoom {
   from {
 transform: scale(1);
   }
   to {
transform: scale(1.1);
}

      
